include ../svg/books
include ../svg/stack
include ../svg/logo
include ../svg/video-camera
include ../svg/book

header(role="banner")
    nav
        ul
            li
                a(href='./').logo
                    span(aria-hidden='true')
                        +logo(true)
                    span.visually-hidden Home
            li
                a(href='#documentation-menu', role='button', aria-haspopup='true', aria-controls='documentation-menu')
                    span(aria-hidden='true')
                        +books(true)
                    span Documentation
            li
                a(href='#integration-menu', role='button', aria-haspopup='true', aria-controls='integration-menu')
                    span(aria-hidden='true')
                        +stack(true)
                    span Integrations
            li
                a(href='./demo.html', role='button')
                    span(aria-hidden='true')
                        +video-camera(true)
                    span Demo
        div#documentation-menu(role='menu')
            ul
                li
                    a(href="./getting-started.html")
                        span Getting started
                li
                    a(href="./table-state.html")
                        span Table state
                li
                    a(href="./table.html")
                        span Table directive
            div(role='separator')
                div
            ul
                li
                    a(href="./sort.html")
                        span Sort directive
                li
                    a(href="./filter.html")
                        span Filter directive
                li
                    a(href="./search.html")
                        span Search directive
                li
                    a(href="./working-indicator.html")
                        span Working Indicator directive
                li
                    a(href="./summary.html")
                        span Summary directive
                li
                    a(href="./slice.html")
                        span Slice directive
            div(role='separator')
                div
            ul
                li
                    a(href='./extend.html')
                        span Extend smart table
        div#integration-menu(role='menu')
            ul
                li
                    a(href="./vanilla.html")
                        span Vanilla js
                li
                    a(href="./angular.html")
                        span Angular
                li
                    a(href="./react.html")
                        span React
                li
                    a(href="./preact.html")
                        span Preact
                li
                    a(href="./vuejs.html")
                        span Vuejs
                li
                    a(href="./flaco.html")
                        span Flaco