doctype html
html(lang='en')
    head
        meta(charset='utf8')
        title #{title}
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href='../src/css/theme.css', rel='stylesheet')
    body
        a(href="#main") Skip to content
        include header
        main#main
            block content
        include footer
    script.
        for (let f of [...document.querySelectorAll('.framed')]){
            f.style.setProperty('--edgeLength',Math.floor(Math.random()*100)+'%');
        }