doctype html
html(lang='en')
    head
        meta(charset='utf8')
        title #{title}
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon",href="./assets/logo.svg")
        link(href='./assets/theme.css', rel='stylesheet')
        link(href='./assets/prism-tomorrow.css', rel='stylesheet')
        link(href='./assets/logo.svg', rel='icon')
        if scripts
            link(href='./assets/demo.css', rel='stylesheet')
    body
        a(href="#main") Skip to content
        include header
        main#main
            block content
        include footer
        if scripts
            script(src='./assets/dataBundle.min.js')
            script(src='./assets/demo.min.js')
        script.
            if(navigator.serviceWorker) {
                  navigator.serviceWorker.register('./sw.js')
                  .catch(function(err) {
                    console.error('Unable to register service worker.', err);
                  });
            }