extends ../layout/main
include  ../mixins/helper
include  ../mixins/code
include  ../mixins/layout

block content
    +center-container()
        h1 Documentation - Flaco binding
    p A binding for #[a(href='https://github.com/smart-table/flaco') Flaco]. To come soon, if you are a bit adventurous, you can check the source code of the #[a(href='/demo.html') advanced example] which is built with #[strong Flaco]
