extends ../layout/main
include  ../mixins/helper
include  ../mixins/code
include  ../mixins/layout

block content
    +center-container()
        h1 Documentation - Preact binding
    p see #[a(href='./react.html') react binding]



