extends ../layout/main
include ../mixins/helper
include ../mixins/code
include ../mixins/layout

block content
    h1 Documentation - Search directive
    p Create a search directive to conveniently interact with the search capabilities of your smart table instance
    +code('search.js')
    a(href='') See in CodePen
    section
        +left-container()
            h2#factory Factory
        +method('Arguments')
            p The factory takes as argument an options object with the following properties
            dl
                dt.mandatory table
                dd An instance of smart table
                dt scope
                dd An array of pointer strings which refer to the item properties you want to include in the search
    section
        +left-container()
            h2#api Instance API
        +method('.search')
            p Will search your data based on the directive configuration and the search input
            h4 Arguments
            dl
                dt input
                dd The input string
        +method('.onSearchChange')
            p Will register an event listener to the #[code SEARCH_CHANGED] event (triggered whenever the search part of the table state changes)
            h4 Arguments
            dl
                dt listener

                dd A function whose unique argument will be the current search part of the table state



