table
    thead
        tr
            th(colspan=2)
                label
                    | Search:
                    input(type='search', data-st-search='surname, name')
        tr
            th Surname
            th Name
    tbody
        //...