html {
    margin: 0;
    padding: 0;
}

:root {
    --primaryColor: #ff6c00;
    --fontColor: #173f46;
    --backgroundColor: #fbfbfb;
    --secondaryColor: #0097f3;
}

body {
    background: var(--backgroundColor);
    color: var(--fontColor);
    box-sizing: border-box;
    font-family: "Open Sans", "OpenSans", sans-serif;
    margin: 0;
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body * {
    box-sizing: inherit;
}

main {
    max-width: 60rem;
    margin: auto;
    padding: 4em 0;
}

a {
    color: inherit;
    transition: background 0.4s, color 0.4s;
}

main a {
    color: var(--secondaryColor);
}

main a:hover, main a:focus {
    background: var(--secondaryColor);
    color: white;
}

em, strong {
    color: var(--primaryColor);
}

h3 {
    display: inline-block;
    margin: 0.5rem 0;
    padding: 0.2rem 2rem 0.2rem 0.5rem;
    background: var(--primaryColor);
    color: white;
    font-weight: normal;
    background-image: linear-gradient(225deg, var(--backgroundColor), var(--backgroundColor) 1.5rem, transparent 1.5rem);
}

.feature-container h3 {
    border-bottom: 1px solid var(--fontColor);
    font-size: 1.75rem;
}

.feature-container:nth-child(2n) h3 {
    padding: 0.2rem 0.5rem 0.2rem 2rem;
    background-image: linear-gradient(135deg, var(--backgroundColor), var(--backgroundColor) 1.5rem, transparent 1.5rem);
}

p {
    margin: 0.9rem 0;
    line-height: 1.5;
}

h1, h2 {
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid var(--primaryColor);
}

h1 {
    margin-top: 0;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

nav > ul:first-child {
    display: flex;
    margin: 0;
    padding: 0 1em;
    align-items: stretch;
    border-bottom: 2px solid var(--primaryColor);
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px 0 #a4a4a4;
}

[role=separator] {
    padding: 1em 0;
}

[role=separator] div {
    border-top: 1px solid var(--primaryColor);
    border-left: 1px solid var(--primaryColor);
    width: 100%;
    height: 100%;
    display: inline-block;
}

[role='menu'] {
    display: flex;
    font-size: 0.9rem;
    color: white;
    border-bottom: 1px solid var(--primaryColor);
    justify-content: center;
    box-shadow: 0 1px 2px 0 #b3b3b3;
    background-color: var(--fontColor);
    background-image: linear-gradient(45deg, var(--primaryColor), var(--primaryColor) 20%, transparent 20%),
    linear-gradient(-45deg, var(--primaryColor), var(--primaryColor) 20%, transparent 20%),
    linear-gradient(to top, #1a565d, var(--fontColor));
}

[role='menu'] ul {
    margin: 0;
    padding: 1em 0;
    animation-name: expandable-section-in;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
}

@keyframes expandable-section-in {
    0% {
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform-origin: top;
        transform: scaleY(1);
        opacity: 1;
    }
}

[role='menu']:not(:target) {
    display: none;
}

nav li {
    display: flex;
    align-items: center;
}

nav a {
    display: flex;
    align-items: center;
    padding: 1em 2em;
    text-decoration: none;
    width: 100%;
}

nav a > span:last-child {
    position: relative;
}

nav a:hover, nav a:focus {
    background: var(--primaryColor);
    color: white;
    outline: none;
}

nav a > span:last-child:after {
    display: inline-block;
    position: absolute;
    height: 2px;
    background: white;
    content: '';
    left: 50%;
    right: 50%;
    bottom: -0.5em;
}

nav a:not(.logo):focus > span:last-child:after,
nav a:not(.logo):hover > span:last-child:after {
    left: 0;
    right: 0;
    transition: left 0.4s, right 0.4s;
}

.feature-container, .punchline {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.8em;
    min-height: 15em;
}

.punchline .svg-container:first-child {
    align-self: flex-start;
}

.feature-container {
    justify-content: space-around;
    margin-bottom: 2rem;
}

.feature-container .svg-container svg {
    height: 7rem;
    width: 7rem;
    fill: currentColor;
}

.method-container {
    padding: 0.5em 1em;
}

.punchline {
    font-size: 1.1rem;
    justify-content: space-between;
    background-color: var(--fontColor);
    background-image: linear-gradient(135deg, var(--backgroundColor), var(--backgroundColor) 35%, transparent 35%),
    linear-gradient(-45deg, var(--backgroundColor), var(--backgroundColor) 5rem, transparent 5rem);
}

.punchline em, .punchline strong {
    color: salmon;
}

.center-container {
    text-align: center;
}

.right-container {
    text-align: right;
}

a.github {
    background: var(--primaryColor);
    padding: 0.5em 1em;
    color: white;
    border-color: #c43322;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-radius: 4px;
    text-decoration: none;
    text-shadow: 1px 1px black;
    display: flex;
    align-items: center;
}

.github:hover, .github:focus {
    background: #c43322;
}

.punchline-description {
    flex-basis: 66%;
    color: var(--backgroundColor);
    padding: 1.5em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.framed {
    background-image: linear-gradient(180deg, var(--primaryColor), transparent),
    linear-gradient(90deg, var(--primaryColor), transparent),
    linear-gradient(0deg, var(--primaryColor), transparent var(--edgeLength, 50%)),
    linear-gradient(270deg, var(--primaryColor), transparent var(--edgeLength, 50%));
    background-size: var(--edgeWidth, 1px) 85%, 85% var(--edgeWidth, 1px), var(--edgeWidth, 1px) 100%, 100% var(--edgeWidth, 1px);
    background-repeat: no-repeat;
    background-position: 0 0, 0 0, right, bottom right;
}

.feature-description {
    flex-basis: 75%;
    padding: 0;
    font-size: 0.95em;
}

a[href='#main'] {
    position: fixed;
    top: -999px;
}

#main-footer {
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    background: var(--fontColor);
    color: var(--backgroundColor);
    font-weight: lighter;
    border-top: 2px solid var(--primaryColor);
    margin-top: 2em;
}

#main-footer a:hover, #main-footer a:focus {
    color: var(--primaryColor);
}

#main-footer img {
    height: 1em;
}

code:not(.language-markup) {
    background: var(--fontColor);
    color: white;
    padding: 0 0.5em;
    font-size: 0.85em;
    border-radius: 2px;
}

pre.language-markup {
    border-left: 4px solid var(--primaryColor);
    border-right: 4px solid var(--primaryColor);
    font-size: 0.9em;
    box-shadow: 0 0 3px 0 #595959;
}

.icon svg {
    height: 1.5em;
}

.svg-container.icon {
    padding: 0 0.5em;
}

.svg-container svg {
    fill: currentColor;
}

blockquote {
    padding: 0.7em;
    margin: 2em 0;
    --edgeLength: 2em;
}

blockquote p {
    margin: 0;
    font-weight: lighter;
}

blockquote cite {
    display: block;
    text-align: right;
    color: var(--primaryColor);
}

.quote-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

dt {
    display: inline-block;
    border-bottom: 1px solid var(--primaryColor);
    font-weight: bolder;
    padding: 0.3em 0;
}

dt:not(:first-child) {
    margin-top: 0.8em;
}

dd {
    padding-top: 0.5em;
    font-style: italic;
}

h4 {
    color: var(--primaryColor);
}

@media (max-width: 780px) {
    main {
        padding: 0.3em;
        margin-top: 0;
    }

    .feature-container, .punchline, nav > ul, #main-footer {
        flex-direction: column;
        align-content: stretch;
    }

    nav > ul:first-child {
        padding: 0;
    }

    [role='menu'] {
        flex-direction: column;
        background-image: linear-gradient(to top, #1a565d, var(--fontColor));
    }

    .method-container {
        padding: 0.5em;
    }

    [role=separator] {
        padding: 0.5em;
    }

    #main-footer {
        padding: 0.5em 0.2em;
    }

    .punchline {
        background-image: none;
        margin: 0;
    }

    .feature-container:nth-child(2n) {
        flex-direction: column-reverse;
    }

    .feature-container:nth-child(2n) h3 {
        padding: 0.2rem 2rem 0.2rem 0.5rem;
        background-image: linear-gradient(225deg, var(--backgroundColor), var(--backgroundColor) 1.5rem, transparent 1.5rem);
    }

    .punchline .svg-container:first-child {
        align-self: center;
    }

    .punchline-description {
        padding: 0;
    }

    .right-container {
        text-align: left;
    }

    dd {
        margin-left: 1em;
    }

    .feature-container .svg-container svg {
        height: 5rem;
        width: 5rem;
    }
}





